@media (max-width: 1280px) {
    .game-wrapper {
        width: 100%;
        height: auto;
    }

    .game-canvas {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .controls-title {
        font-size: 26px;
    }

    .start.text {
        font-size: 20px;
    }

    .controls-display p {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 32px;
    }
}