@font-face {
    font-family: "Archivo";
    src: url(./fonts/Archivo-VariableFont_wdth\,wght.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Archivo", sans-serif;
    background-image: url(./img/background/webpage_background.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    font-size: 54px;
}

.game-canvas {
    height: 720px;
    width: 1280px;
    background-color: black;
}

.game-wrapper {
    position: relative;
    width: 1280px;
    height: 720px;
    background-color: rgb(110, 79, 53);
}

.start_text {
    font-size: 24px;
    margin-top: 20px;
}

.controls {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
}

.controls img {
    height: 30px;
    width: 30px;
}

.controls button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 0;
}

.game-wrapper:fullscreen .game-canvas {
    width: 100vw;
    height: 56.25vw;
}

.controls-display {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    border-radius: 20px;
}

.controls-display p {
    margin: 12px 0px;
    font-size: 22px;
}